opencv-python
imutils
numpy
virtualenv
datetime
adafruit-circuitpython-am2320
adafruit-circuitpython-busdevice
adafruit-ads1x15
adafruit-blinka
adafruit-platformdetect
picamera2
torch
torchvision
ultralytics